<h2>Edit blog</h2>		
<%= error_messages_for :blog %>
<% use_tinymce -%>

<% form_for @blog do |form| %>
  <fieldset>
	<legend>Blog</legend>
	  <%= render :partial => "form", :locals => { :form => form } %>
  </fieldset>
	  <%= submit_tag "Update", :class => "submit" %> 
  </p>
<% end %>
