<%= error_messages_for :talk %>

<%= text_field_for form, "title", 69 %>
<br/>
<div class="form_row">
  <label for="abstract">Abstract / Disposition:</label>
  	<% use_tinymce -%>
	<%= form.text_area :abstract, :rows => 20, :cols => 60, :class => "mce-editor" %>
</div>