<h1>New talk</h1>

<%= error_messages_for :talk %>

<% form_for(@talk) do |form| %>
	<%= render :partial => "form", :locals => { :form => form } %>
  <p>	
    <%= form.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', talks_path %>
