<p>
  <label for="password">Password</label> 
  <%= form.password_field field, 
                          :size =>      User::PASSWORD_SIZE,
                          :maxlength => User::PASSWORD_MAX_LENGTH %>
</p>          
