<li>
	<ul>
   <div class="contentHeadlineSmallBlue170">
   	<span class="collumTopText">News</span>
   </div>		  
   <ul>
				<li>
      News
					<span>Coming soon...</span>
				</li>             
   </ul>			
	</ul>
</li>
