<div class="sidebar_right sidebar">
	<ul class="sidebar">
		<%= render :partial => '/shared/news' %>

		<li>
			<ul>
           <div class="contentHeadlineSmallBlue170">
           	<span class="collumTopText">Blogs</span>
           </div>		  
           <ul>
 						<li>
              Recent blogs
 							<span>Coming soon...</span>
 						</li>             
           </ul>			
			</ul>
		</li>
		<%= render :partial => '/shared/archives' %>
					
	</ul>
</div>

