<h1>Help</h1>
<p>Please email administrator on  <a href="#" onclick="this.href= 'mai' + 'lto:' + 'rune' + '&#64;' + 'berg-lab.net' ; return true;">rune<!-- @@@ -->&#64;<!-- @@@ -->berg-lab<!-- nospam -->.<!-- nomorespam -->net<!-- nospam --></a></p>

or call Rune Berg on 3532 7560